.divComponentsSearch{
    width: 100%;
    padding: 10px;
    margin-top: 5%;
    padding: 0!important;
}

.btnConsultar{
    margin-top: 4vh!important;
    margin-left: 1vh!important;
}

.formDados{
    width: 35%!important;
    margin: 0 auto!important;
    margin-top: 5%!important;
    color:black!important;
    background-color: rgb(226, 226, 226)!important;
}

.formDadosCep{
    width: 35%!important;
    margin: 0 auto!important;
    margin-top: 1%!important;
    color:black!important;
    background-color: rgb(226, 226, 226)!important;

}
.MuiPaper-elevation6{
    box-shadow: 0px 0px 0px 0px!important
}

.MuiFormLabel-root {
    font-size: 50%!important;
    padding: 5px!important;
}

@media screen and (max-width: 375px) {
    .divComponentsResponse{
      margin-top: 10%!important;
  }
  .btnConsultar{
    margin-top: 4vh!important;
    margin-right: 2vh!important;
    }
    .MuiFormLabel-root {
        font-size: 9px!important;
        padding: 5px!important;
    }
}

@media screen and (max-width: 250px) {
    .divComponents{
        margin: 0 auto;
    }
    .outlined-name{
        width: 80%;
    }
    .divComponentsResponse{
        margin-top: 15%!important;
    }
    .MuiFormLabel-root {
        font-size: 8px!important;
    }

}

@media screen and (max-width: 200px) {
    .divComponentsResponse{
        margin-top: 20%!important;
    }
    .btnConsultar{
        margin-top: 3vh!important;
        }
    .MuiFormLabel-root {
        font-size: 10px!important;
    }
}

@media screen and (max-width: 170px) {
    .divComponentsResponse{
        margin-top: 20%!important;
    }
    .outlined-name{
        width: 75%;
    }
    .MuiFormLabel-root {
        font-size: 8px!important;
    }
}

@media screen and (max-width: 140px) {

    .btnConsultar{
        width: 80%!important;
        font-size: 50%!important;
    }
    .outlined-name{
        width: 100%!important;
        margin: 0 auto;
    }

    .btnConsultar{
        width: 60%!important;
        font-size: 50%!important;
    }
    .divComponentsSearch{
        margin: 0 auto;
        padding: 0!important;
    }

    *{
        margin: auto;
    }
    .divComponentsResponse{
        width: 100%!important;
    }
    .divComponents{
        width: 100%!important;
        margin: 0 auto!important;
    }

    @media screen and (max-width: 110px) {
        .divComponentsResponse{
          margin-top: 10%!important;
      }

        .MuiFormLabel-root {
            font-size: 7px!important;
            padding: 5px!important;  
            
        }
        .formDadosCep, .formDados{
            font-size: 8px!important;
        }
    }
    @media screen and (max-width: 70px) {
        .btnConsultar{
            font-size: 8px!important;
            width: 25%!important;
            margin-top: 5%!important;

        }
        
        .divComponentsSearch
        {
            margin: 0 auto!important;
            padding: 0px!important;
        }


    }
    
      
}

